In [1]:
import pandas as pd 
import numpy as np 
pd.set_option('display.max_columns',None)

In [2]:
train_data = pd.read_csv('modified_dataset.csv',index_col=0)
train_data

,Duration,Total_Stops,Price,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Jounrey_date,Jounrey_month,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,170,0,3897,22,20,1,10,24,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,445,2,7662,5,50,13,15,5,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,325,1,6218,18,5,23,30,5,12,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,285,1,13302,16,50,21,35,3,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,145,0,3873,9,0,11,25,24,6,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6823,160,0,3257,5,55,8,35,21,5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
6824,150,0,4107,19,55,22,25,4,9,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
6825,155,0,4145,20,45,23,20,27,4,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
6826,160,0,12648,11,30,14,10,3,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
6827,500,2,11753,10,55,19,15,5,9,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0

In [3]:
X = train_data.drop('Price',axis=1)
y = train_data.loc[:,['Price']]

In [4]:
X

,Duration,Total_Stops,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Jounrey_date,Jounrey_month,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,170,0,22,20,1,10,24,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,445,2,5,50,13,15,5,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,325,1,18,5,23,30,5,12,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,285,1,16,50,21,35,3,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,145,0,9,0,11,25,24,6,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6823,160,0,5,55,8,35,21,5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
6824,150,0,19,55,22,25,4,9,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
6825,155,0,20,45,23,20,27,4,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
6826,160,0,11,30,14,10,3,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
6827,500,2,10,55,19,15,5,9,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0

In [5]:
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score,KFold,train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error

kfold = KFold(n_splits=5, random_state=42,shuffle=True)

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
X = np.array(X)
scale = MinMaxScaler()

x_scale = scale.fit(X)
X = x_scale.transform(X)

y_scale = scale.fit(y)
y = y_scale.transform(y)

In [9]:
xgb = XGBRegressor()
result = cross_val_score(xgb, X, y, cv=kfold, 
                          scoring='r2')
print(result,result.mean())

[0.84408444 0.87811605 0.85476461 0.84396351 0.87917629] 0.8600209801291099

In [10]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,shuffle=True)
model = xgb.fit(x_train,y_train)
y_pred = model.predict(x_test)

print('mse: ',mean_squared_error(y_test,y_pred))
print('mae: ',mean_absolute_error(y_test,y_pred))
print('rmse: ',np.sqrt(mean_squared_error(y_test,y_pred)))

mse:  0.0020600502315884805
mae:  0.023494816783055768
rmse:  0.04538777623533103

In [11]:
import pickle 

xgb_model_path='C:/Users/Srujan/Documents/Projects/Flight_Price/flight_xgb.pkl'
x_scale_path = 'C:/Users/Srujan/Documents/Projects/Flight_Price/x_scale.pkl'
y_scale_path = 'C:/Users/Srujan/Documents/Projects/Flight_Price/y_scale.pkl'

pickle.dump(model,open(xgb_model_path,'wb'))
pickle.dump(x_scale,open(x_scale_path,'wb'))
pickle.dump(y_scale,open(y_scale_path,'wb'))